<a href="https://colab.research.google.com/github/RamosJarren/OOP-58001/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Fundamentals of Python**

Indention

In [1]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

Comments

In [3]:
#This is a comment
print("Hello, world")

Hello, world

Variable

In [4]:
x = 1
a, b, c = 0, -1, 2
b = "Sally" #This is a type of string

Casting

In [5]:
b = "sally" #This is a type of string
b = int(4)
print(b)

b = float(4)
print(b)

4
4.0

Type() function

In [6]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Quotes

In [7]:
y = "John"
y = 'John'

Multiple Variables

In [8]:
x, y, z = "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

One Value, Multiple Variables

In [9]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

Output Variables

In [11]:
x = "Python is "
y = "enjoying"
z = x + y
print(z)

Python is enjoying

Arithmetic Operators

In [12]:
x = 5
y = 3
print(x + y)

x = 5
y = 3
sum = x + y
print(sum)

8
8

Assignment Operators

In [15]:
a, b, c = 0, -1, 6
c %= 3
print(c)

0

Comparison and Logical Operators

In [16]:
a, b, c = 0, -1, 6
a > b and c > b

True

Identity Operators

In [17]:
a, b, c = 0, -1, 5
a is c

False