<a href="https://colab.research.google.com/github/RamosJarren/OOP-58001/blob/main/Loop_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Loop Statements**

Example 1

In [31]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Example 2

In [30]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

Example 3

In [4]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)
  if x == "Thursday":
    break
    print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday

In [54]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
print(week[2])
print(week[3])

for x in week:
  if x == "Tuesday": 
    print(x)
    i += 1
  if x == "Wednesday":
    print(x)
    i += 1

Tuesday
Wednesday
Tuesday
Wednesday

Example 4

In [5]:
for x in "week":
  print(x)

w
e
e
k

range() function

In [6]:
for x in range(6):
  print(x)
for x in range(2,6):
  print(x)

0
1
2
3
4
5
2
3
4
5

Nested Loop

In [7]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

Example 5

In [8]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

Break Statement

In [10]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

Continue Statement

In [12]:
i = 1
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

2
4
5
6

Else Statement

In [14]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Let's Try 1

In [23]:
x = 0
while x <= 10:
  print("Hello", x)
  x += 1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Let's Try 2

In [29]:
x = 1
while x < 10:
  if x < 3:
    print()
    x += 1
  else:
    print(x)
    x += 1

3
4
5
6
7
8
9